::selection {
  color: blue;
  background: yellow;
}

h2, p {
    font-size: 17px !important;
}

div[data-testid="column"]:nth-child(1) {
            background-color: #EAEAEA; 
            padding: 15px;
            border-radius: 5px;
}

ul[data-testid="stSelectboxVirtualDropdown"] li[aria-selected="true"] {
                            background-color: #fd7f6f;  
                            color: #FFFFFF; 
							font-size: 18.5px;
}

.element-container div[data-baseweb="select"]:hover {
	background-color: #99cfdd;
}

.element-container:nth-of-type(1) button{
	background-color: green;
	height: 59px;
	padding-top: 10px; 
    padding-bottom: 10px;
	font-size: 18.5px
}

.element-container:nth-of-type(1) button:hover {
	background-color: LightSeaGreen;
	color: white;
	box-shadow: 2px 3px 5px #888;
	transform: translate(3%, -8%); 
}

.element-container:nth-of-type(1) button:active {
	background-color: Khaki;
	color: red;
	cursor: wait;
}

.element-container:nth-of-type(1) button:disabled {
	cursor: not-allowed;
	opacity: 0.5;
	cursor: not-allowed;
	pointer-events: none;	
}

.element-container:nth-of-type(1) button:not(:hover){
	background-color: #F0FFF0;
	color: black;	
}

.element-container:nth-of-type(1) input:hover {
	background-color: #87CEEB;
	text-align: center;	
	color: white;
}

.element-container:nth-of-type(1) input:{
	font-size: 30px;
}

.element-container:nth-of-type(1) input:active {
	text-decoration-line: underline; 
	text-align: center;
	color: white;
}

.element-container:nth-of-type(1) input:not(:hover) {
	background-color: #FFFFF0;
	text-align: center; 
}

h1:hover, h2:hover, h3:hover, p:hover {
    color: #8B0000 !important; 
    text-decoration-line: overline;
	text-decoration-color: hsla(0, 100%, 80%, 0.3);
}

[data-testid="stFileUploaderDropzone"] [data-testid="stBaseButton-secondary"]:hover{
    background-color: LightSeaGreen;
	color: white;
	box-shadow: 2px 3px 5px #888;
	transform: translate(3%, -8%);
}

[data-testid="stFileUploaderDropzone"] [data-testid="stBaseButton-secondary"]{
    background-color: green;
	height: 45px;
	padding-top: 10px; 
    padding-bottom: 10px;
	font-size: 18.5px;
}

[data-testid="stFileUploaderDropzone"] [data-testid="stBaseButton-secondary"]:active{
	background-color: Khaki;
	color: brown;
	cursor: wait;
}

[data-testid="stFileUploaderDropzone"] [data-testid="stBaseButton-secondary"]:disabled{
	cursor: not-allowed;
	opacity: 0.5;
	cursor: not-allowed;
	pointer-events: none;	
}

[data-testid="stFileUploaderDropzone"] [data-testid="stBaseButton-secondary"]:not(:hover){
	background-color: #F0FFF0;
	color: black;
}

.stPopover button:hover {
    background-color: LightSeaGreen;
	color: white;
	box-shadow: 2px 3px 5px #888;
	transform: translate(3%, -8%);
}

.stPopover button:active{
	background-color: Khaki;
	color: brown; 
	cursor: wait;
}

div[data-testid="stExpander"]:hover {
    box-shadow: 2px 3px 5px #888;
	font-size: 18.5px;
}

div[data-testid="toastContainer"] {
    padding: 0px 20px 100px 50px;
    align-items: stretch;
	top: auto;
    bottom: 2rem;
	width: 100%;
}

div[data-testid="stToast"] {
	width: auto; 
    bottom: 2rem;
	transform: translateY(-10%);
}







